@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #333;
}

.App {
  /* background-image: url("./images/clouds.png"); */
  background: skyblue;
  background-size: cover;
  font-family: sans-serif;
  width: 100vw;
}

.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  gap: 1rem;
}

.results-container {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .results-container {
    width: 90%;
    max-width: 600;
  }
}

@media only screen and (min-width: 1024px) {
  .map-container {
    width: 600px;
    margin: 0 auto 1rem auto;
  }
}

.search-container {
  margin-right: 1rem;
  min-width: 300px;
}

.logo {
  display: inline-block;
  /* color: #00bfff; */
  color: #fff;
  font-family: "Coiny", cursive;
  font-size: 3rem;
  line-height: 2rem;
  text-decoration: underline;
}
