@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
}

.App {
  font-family: sans-serif;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.logo {
  display: inline-block;
  color: #00bfff;
  font-family: "Coiny", cursive;
  font-size: 3rem;
  text-decoration: underline;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

/* #map {
  height: 180px;
} */
